@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
  margin: 12px;
  height: 100vh;
  background: linear-gradient(pink, rgb(181, 181, 235), rgb(171, 211, 171), rgb(235, 174, 174), rgb(228, 200, 150), rgb(168, 156, 156));
}

header {
  height: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 50%;
  
}
  
.game-mode {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bingo {
  flex: 50%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 5px;
  max-width: 400px;
}

.bingo p {
  padding: 10px;
  text-align: justify;
}

.fourD {
  flex: 50%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 400px;
  height: 100%;
}

.fourD p {
  padding: 10px;
  text-align: justify;
}

.game-mode .bingo img{
  width: 200px;
  height: 215px;
}

.game-mode .fourD img{
  width: 200px;
  height: 215px;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) 
{
  .bingo, .fourD {
    flex: 100%;
  }
}