<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Contact</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css')}}">
      <script src=""></script>
    {% endblock %}
</head>
<body>
  <header>
    <h1>Rainbow Lottery</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <div class="time">         
      <span id="day">00</span>
      <span>,</span>
      <span id="hours">00</span>
      <span>:</span>
      <span id="minutes">00</span>
      <span>:</span>
      <span id="seconds">00</span>
      <span id="session">AM</span>
    </div>
      <script type="text/javascript">
        function rtclock() 
        {
          var dateTime = new Date();

          var arr_days = ['Sunday', 'Monday', 'Tuesday',
          'Wednesday', 'Thursday', 'Friday', 'Saturday'];

          var myday = dateTime.getDay();
          var day = arr_days[myday];
          var hrs = dateTime.getHours();
          var min = dateTime.getMinutes();
          var sec = dateTime.getSeconds();
          var session = document.getElementById('session');

          if (hrs >= 12)
          {
              session.innerHTML = 'PM';
          }
          
          else
          {
              session.innerHTML = 'AM';
          }

          if (hrs > 12)
          {
            hrs = hrs - 12;
          }

          if (hrs == 0)
          {
            hrs = 12;
          }

          if (min < 10)
          {
            min = "0" + min;
          }

          if (sec < 10)
          {
            sec = "0" + sec;
          }

          document.getElementById('day').innerHTML = day;
          document.getElementById('hours').innerHTML = hrs;
          document.getElementById('minutes').innerHTML = min;
          document.getElementById('seconds').innerHTML = sec; 
          }
        setInterval(rtclock, 10);
    </script>    
  </header>

  <div class="contact-form">
    <form method="POST" action="https://formsubmit.co/janelim2001@gmail.com">
      <input type="text" name="name" class="form-control" placeholder="Your Name" required>
      <br/>
      <input type="email" name="email" class="form-control" placeholder="Your Email" required>
      <br/>
      <input type="text" name="email-subject" class="form-control" placeholder="Subject" required>
      <br/>
      <textarea name="message" class="sizeable-control" placeholder="Message" row="20" required></textarea>
      <br/>
      <input type="submit" class="form-control submit" value="Send Message!">
      <input type="hidden" name="_next" value="https://rainbow-lottery.herokuapp.com/thanks">
      <input type="hidden" name="_captcha" value="false">
    </form>

    <div class="sidebar">
      <h1>Get in Touch!</h1>
      <h3>Leave a message about your inquiries</h3>
      <p>Whether it is feedback or questions, replies will be made</p>
      <ul>
        <li><img src="../static/css/images/location.png"> Singapore, Bukit Panjang</li>
        <li><img src="../static/css/images/email.png"> <u>janelim2001@gmail.com</u></li>
        <li><img src="../static/css/images/phone.png"> +65 98353213</li>
      </ul>

      <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31909.48091822354!2d103.75586789927682!3d1.3656068897564149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1177f04a4d01%3A0x3a9ef481b6d0a390!2sBukit%20Panjang!5e0!3m2!1sen!2ssg!4v1657643590637!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</body>
</html>