<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>

<body>
  <header>
    <h1>Rainbow Lottery</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <div class="time">         
      <span id="day">00</span>
      <span>,</span>
      <span id="hours">00</span>
      <span>:</span>
      <span id="minutes">00</span>
      <span>:</span>
      <span id="seconds">00</span>
      <span id="session">AM</span>
    </div>
      <script type="text/javascript">
        function rtclock() 
        {
          var dateTime = new Date();

          var arr_days = ['Sunday', 'Monday', 'Tuesday',
          'Wednesday', 'Thursday', 'Friday', 'Saturday'];

          var myday = dateTime.getDay();
          var day = arr_days[myday];
          var hrs = dateTime.getHours();
          var min = dateTime.getMinutes();
          var sec = dateTime.getSeconds();
          var session = document.getElementById('session');

          if (hrs >= 12)
          {
              session.innerHTML = 'PM';
          }
          
          else
          {
              session.innerHTML = 'AM';
          }

          if (hrs > 12)
          {
            hrs = hrs - 12;
          }

          if (min < 10)
          {
            min = "0" + min;
          }

          if (sec < 10)
          {
            sec = "0" + sec;
          }

          document.getElementById('day').innerHTML = day;
          document.getElementById('hours').innerHTML = hrs;
          document.getElementById('minutes').innerHTML = min;
          document.getElementById('seconds').innerHTML = sec; 
          }
        setInterval(rtclock, 10);
    </script>    
  </header>


  <div class="container"> 
    <div class="forms-container">
      <h1>LOGIN HERE!</h1>
      <form method="POST" action="">
      <img class="head-picture" src="../static/css/images/login.png">
      <div class="particulars">
          {{ form.hidden_tag() }}</br>
          <div class="username">
            <img src="../static/css/images/username.png"> &nbsp;
            {{ form.username }}</br>
          </div>
          <div class="password">
            <img src="../static/css/images/password.png"> &nbsp;
            {{ form.password }}</br>
          </div>
           <!-- display unsucessful login (errors) -->
           {% with messages = get_flashed_messages() %}
           {% if messages %}
               {% for message in messages %}
                {% if "Thanks" in message %}
                  <strong><p class = "success-from-register"> {{ message }} </p></strong>
                {% else %}
                  <strong><p class = "error"> {{ message }} </p></strong>
                {% endif %}
               {% endfor %}
            {% endif %}
           {% endwith %}

          <br/>{{ form.submit }}</br>

        <div class="register">
          Don't have an account? <br/><a href="{{url_for('register')}}">Sign up here!</a>
        </div>
      </div>
      </form>
    </div>
  </div> 
</body>
</html>
